<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <include resource="logback-local.xml"/>
    </springProfile>

    <springProfile name="stress">
        <include resource="logback-stress.xml"/>
    </springProfile>

    <springProfile name="test">
        <include resource="logback-local.xml"/>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback-prod.xml"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>